@charset "UTF-8" ;

.mo_img {display: none;}
header.main  {position: absolute; padding-top:clamp(10px,1.5vw,30px)  ; width: 100%; left: 0; top: 0; z-index: 10;}
header {}
header.sub {padding:clamp(10px,2.0vw,30px); width: 100%; position: relative; z-index: 50; }
header h1 {margin: 0 auto 1.5vw auto; text-align: center;}

header .pc_nav {display: flex; justify-content: center; align-items: center; gap: 12px; position: relative;}
header .gif {position:absolute; top: 100%; right: 0; margin: 0;}

header .pc_nav .gnb {display: flex; justify-content: center;}
header .pc_nav .gnb > li {font-size: 15px; width: 148px; height: 30px; background: #442819; margin-left: 5px; transition: .5s; position: relative;}
header .pc_nav .gnb > li a {color: #fff; display: flex; justify-content: center; align-items: center; height: 100%;}

header .pc_nav .gnb > li:hover > a {background: #D7733A;}

header .pc_nav .gnb > li .lnb {position: absolute; width: 100%; padding: 10px 0; display: none;}
header .pc_nav .gnb > li .lnb a {font-size: 15px; width: 148px; height: 30px; background: #442819; }

header .pc_nav .gnb li .lnb a:hover {background:#D14C00}


header .pc_nav .mypage {display: flex; position: absolute; right: 16%; top: -100%; letter-spacing: 0.2vw;}
header .pc_nav .mypage a {background: none;}
header .pc_nav .mypage a:first-child::after {content: "/"; }

header .mo_nav {display: none;}
.hamburger {display: none;}



footer {margin-top: clamp(120px, 10vw, 150px); background: #412C20; }
footer .footer_wrap {display: flex; gap: 85px; padding: 50px 0;} 
footer .footer_wrap ul {color: #fff; display: flex;  gap: 85px;}
footer .footer_wrap ul li  {font-size: 14px; margin-bottom: 20px; display: flex; gap: 8px; flex-direction: column;}
footer .footer_wrap .part1 .sitemap span {cursor: pointer; }
footer .footer_wrap .part1 .service span {cursor: pointer; }
footer .footer_wrap .part1 h3 , .part2 h3 {color: #D14C00; margin-bottom: 8px;}
footer .footer_wrap .part2 .us figure {display: flex; justify-content: space-between; cursor: pointer;}