@charset "UTF-8" ;

.mo_img {display: none;}
header.main  {position: absolute; padding-top:clamp(10px,1.5vw,30px)  ; width: 100%; left: 0; top: 0; z-index: 10;}
header {}
header.sub {padding:clamp(10px,2.0vw,30px); width: 100%; position: relative; z-index: 50; }
header h1 {margin: 0 auto 1.5vw auto; text-align: center;}

header .pc_nav {display: flex; justify-content: center; align-items: center; gap: 12px; position: relative;}
header .gif {position:absolute; top: 100%; right: 0; margin: 0;}

header .pc_nav .gnb {display: flex; justify-content: center;}
header .pc_nav .gnb > li {font-size: 15px; width: 148px; height: 30px; background: #442819; margin-left: 5px; transition: .5s; position: relative;}
header .pc_nav .gnb > li a {color: #fff; display: flex; justify-content: center; align-items: center; height: 100%;}

header .pc_nav .gnb > li:hover > a {background: #D7733A;}

header .pc_nav .gnb > li .lnb {position: absolute; width: 100%; padding: 10px 0; display: none;}
header .pc_nav .gnb > li .lnb a {font-size: 15px; width: 148px; height: 30px; background: #442819; }

header .pc_nav .gnb li .lnb a:hover {background:#D14C00}


header .pc_nav .mypage {display: flex; position: absolute; right: 16%; top: -100%; letter-spacing: 0.2vw;}
header .pc_nav .mypage a {background: none;}
header .pc_nav .mypage a:first-child::after {content: "/"; }

header .mo_nav {display: none;}
.hamburger {display: none;}



footer {margin-top: 150px; background: #412C20;} 
footer .footer_wrap {display: flex; justify-content: space-between; padding: 70px 0;}
footer .footer_wrap li {display: flex; flex-direction: column; gap: 4px; font-size: 13px; }
footer .footer_wrap li h3 {color: #D14C00; font-size: 14px; }
footer .footer_wrap li span {color: #fff; }
footer .footer_wrap li span a {color: #fff; }
footer .footer_wrap li figure img {margin-right: 13px;}
footer .footer_wrap li:first-child {display: flex; justify-content: center; align-items: center;}
footer .footer_wrap li:last-child h3 {margin-bottom: 20px;}